<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <a  href="https://github.com/akash22gupta">
      <img alt="Github" src="{{ "/assets/img/Octocat.jpg" | prepend: site.baseurl }}" />
      </a>
    </div>
    <div class="six columns">
      <h5> GITHUB </h5>
      <li> </li>
      <p></p>
      <a class="project-link" href="https://github.com/akash22gupta">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <a href="https://www.hackerrank.com/akash22gupta">
      <img alt="HackerRank" src="{{ "/assets/img/HackerRank.png" | prepend: site.baseurl }}" />
      </a>
    </div>
    <div class="six columns">
      <h5> HackerRank</h5>
      <ul>
        <li> </li>
      </ul>
      <p></p>
      <a class="project-link" href="https://www.hackerrank.com/akash22gupta">Check it out</a>
    </div>
  </div>
    <div class="row user-projects">
    <div class="six columns images">
      <a href="https://www.hackerearth.com/@akash22gupta">
      <img alt="HackerEarth" src="{{ "/assets/img/HE_logo.png" | prepend: site.baseurl }}" />
      </a>
    </div>
    <div class="six columns">
      <h5> HackerEarth</h5>
      <ul>
        <li> </li>
      </ul>
      <p></p>
      <a class="project-link" href="https://www.hackerearth.com/@akash22gupta">Check it out</a>
    </div>
  </div>
</div>
